<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="fotterLinks">
    <a href="http://www.linkedin.com/in/sbajaj9/" alt="LinkedIn" target="_blank"
       onclick="trackOutboundLink('http://www.linkedin.com/in/sbajaj9?loc=bottom');">LinkedIn</a>
    |
    <a href="https://github.com/lexa-coder" alt="Github" target="_blank">Github</a>
    |
    <a href="https://samara.hh.ru/resume/55763672ff0c9efca40039ed1f6c3774683673" alt="HeadHunter"
       target="_blank">HeadHunter</a>
    |
    <a href="https://web.telegram.org/" alt="Telegram" target="_blank">Telegram</a>
    |
    <a href="mailto:papshev_alex@yahoo.com" alt="email" target="_blank">Email</a>
</div>

<div id="copyright">
    © 2023–2024 <a href="https://papshev_alex.com/">Alexey Papshev</a>. All rights reserved.
</div>

</body>
</html>