<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="menu-primary" class="menu-container">
    <div class="menu">
        <ul id="menu-primary-items">
            <li class="menu-item home"><a class="spec" href="/">Home</a></li>
            <li class="menu-item projects"><a class="spec" href="https://yandex.ru">Yandex</a></li>
            <li class="menu-item projects"><a class="spec" href="/projects">Projects</a></li>
            <li class="menu-item talks"><a class="spec" href="/talks">Talks</a></li>
            <li class="menu-item blog"><a class="spec" href="/blog/">Blog</a></li>
            <!-- <li class="menu-item github"><a class="spec" href="https://github.com/sb2nov/" target="_blank">Github</a></li> -->
        </ul>
    </div>
</div>
</body>
</html>